body{
    background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
}

.header_div:hover{
background-color: rgb(69, 66, 66);
text-align: center;
width: 100%;
color: aliceblue;
}

.header_div{
    background-color: rgb(238, 235, 235);
    text-align: center;
    width: 100%;
   
    }

.main_div button{
background-color: rgb(147, 150, 87);
width: 30%;
height: 40px;
font-family: 'Comforter', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
letter-spacing: 1.7px;
font-weight: bold;
border-style:groove;
border-radius: 10%;
border-width: 3px;
border-color: rgb(0, 0, 0);
color: rgb(3, 36, 4);
}



.copy_right_footer{
position:fixed;
bottom: 0;
background-color: rgb(8, 63, 61);
width: 100%;
text-align: center;
height: 25px;
color: aliceblue;
font-size: 20px;
}

.copy_right_footer:hover{
    position:fixed;
    bottom: 0;
    background-color: rgb(184, 219, 242);
    
    width: 100%;
    text-align: center;
    height: 25px;
    color: rgb(34, 50, 4);
    font-size: 20px;
    }